<%= form_for(email_swap) do |f| %>
  <% if email_swap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email_swap.errors.count, "error") %> prohibited this email_swap from being saved:</h2>

      <ul>
      <% email_swap.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :folder %>
    <%= f.text_field :folder %>
  </div>

  <div class="field">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
